<div class="row">
  <div class="col s12 center">
    <h2>Pokemon Contest</h2>
    <h5>(increase Special Attack and Special Defense)</h5>
    <h4 class="<%= @status.downcase.gsub(" ", "_") %>"><%= @status %></h4>
  </div>
</div>

<div class="row">
<br><br><br>
<% if @status == "Open" %>
  <div class="col s3">
    <%= image_tag("gifs/open_contest.gif", class: "gif") %>
  </div>
  <div class="col s3 offset-s5 right">
      <%= form_tag start_contest_path do %>
        <%= collection_select :trainer, :pokemons, current_trainer.starters, :id, :name, {}, {class: "browser-default select"}%>
        <%= submit_tag "Enter Contest", class: "btn", data: {confirm: "Spend 3 Poke-tokens enter this Pokemon in the contest?"} %>
      <% end %>
  </div>
  <% else %>
  <div class="col s6">
    <%= image_tag("gifs/contest.gif") %>
  </div>
  <div class="col s3 center">
    <h4>Time Left</h4>
    <h5><%= current_trainer.contest_time_left %></h5>
    <% if current_trainer.contest_time_passed? %>
      <%= button_to "Finish contest", remove_contest_path, class: "btn"%>
    <% end %>
  </div>
  <div class="col s3 center">
    <%= image_tag("pokemon/#{@pokemon.name}.png", class: "pokemon-image") %>
    <h5><%= @pokemon.name %></h5>
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}.png", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @pokemon.speed %></td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <% end %>
</div>
