<div class="row">
  <br><br>
  <div class="col s2">
    <%= image_tag("root/Female.png", class: "trainer-left") %>
  </div>

  <div class="col s1">
    <%= image_tag("root/pikachu.png", class: "root") %>
  </div>

  <!-- add more pictures -->

  <div class="col s6 center">
    <br><br><br>
    <%= image_tag("root/logo.png", class: "logo") %>
    <h3>Ruby-On-Rails</h3>
    <%= link_to "How To Play", about_path, class: "btn" %>
    <br>
    <%= link_to "Demo Login", demo_login_path, class: "btn", method: :post %>
  </div>

  <div class="col s3">
    <%= image_tag("root/Male.png", class: "trainer-right") %>
  </div>
</div>
