<div class="row">
  <div class="col s12">
    <h3>Search Results</h3>
    <ul class="collection">
    <% @search.each do |trainer| %>
      <li class="collection-item avatar">
        <a href="trainers/<%= trainer.id %>"><i class="material-icons circle red">perm_identity</i></a>
        <!-- add profile pic -->
        <span class="title">Trainer <%= trainer.name %></span>
        <p>Level: <%= trainer.level %></p>
        <p>
        <% trainer.gyms.each do |gym| %>
          <%= link_to image_tag("badges/#{gym.name}.png", class: "badge"), gym_path(gym) %>
        <% end %>
        </p>
        <ul class="secondary-content">
          <% trainer.starters.each do |pokemon| %>
          <li class="sprite-image">
            <%= image_tag("pokemon-sprite/#{pokemon.pokedex_id}.png", class: "sprite-image") %>
          </li>
          <% end %>
        </ul>
      </li>
    <%end %>
    </ul>
  </div>
</div>
