<div class="row">
  <div class="col s12 center">
    <h3>A Wild <%= @wild_pokemon %> Appeared!</h3>
    <br><br>
  </div>
</div>

<div class="row">
  <div class="col s3 offset-s1">
    <%= image_tag("pokemon/#{current_trainer.starter_pokemon.downcase}.jpg", class: "pokemon-image") %>
    <h5>My <%= current_trainer.starter_pokemon %></h5>
  </div>
  <div class="col s3 offset-s5">
    <%= image_tag("pokemon/#{@wild_pokemon.downcase}.jpg", class: "pokemon-image") %>
    <h5>Wild <%= @wild_pokemon %></h5>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <%= button_to "Throw Pokeball", pokeball_path(Pokedex.find_by(name: @wild_pokemon)), class: "btn", data: {confirm: "Spend 1 Poke-Token to throw a Pokeball?"} %>
    <%= button_to "Throw Great ball", great_ball_path(Pokedex.find_by(name: @wild_pokemon)), class: "btn", data: {confirm: "Spend 2 Poke-Tokens to throw a Great Ball?"} %>
    <%= button_to "Throw Ultra ball", ultra_ball_path(Pokedex.find_by(name: @wild_pokemon)), class: "btn", data: {confirm: "Spend 3 Poke-Tokens to throw an Ultra Ball?"} %>
    <%= button_to "Run Away", run_away_path(current_trainer), class: "btn"%>
    <%#= refactor this %>
  </div>
</div>
