<div class="row">
  <h2 class="center-align">Challenge!</h2>
</div>
<div class="row">
  <div class="col s3 center-align">
    <h3>Gym Leader</h3>
    <h4><%= @gym_leader.name %></h4>
    <h4><%= image_tag("pokemon/#{@gym_pokemon.name.downcase}.jpg", class: "pokemon-image") %></h4>
  </div>

  <div class="col 4 offset-s5 center-align">
    <h3>Challenger</h3>
    <h4><%= current_trainer.name %></h4>
    <h6>Choose your pokemon</h6>
    <%= form_tag gym_path(@gym) do %>
      <%= collection_select :challenger, :pokemon, current_trainer.starters, :id, :name, {}, {class: "browser-default"}%>
      <%= submit_tag "Challenge with this Pokemon!", class: "btn", data: {confirm: "Spend 5 Poke-Tokens to challenge this gym?"} %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s3">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @gym_pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @gym_pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @gym_pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @gym_pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @gym_pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @gym_pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @gym_pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @gym_pokemon.speed %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
