<div class="row">
  <h2>All Gyms</h2>
</div>

<div class="row">
  <% @gyms.each do |gym| %>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag("gyms/#{gym.name}.png", class: "gym-image"), gym_path(gym) %>
        <span class="card-title"><%= gym.name + " Gym" %></span>
      </div>
      <div class="card-content">
        <%= image_tag("types/#{gym.specialty}.png", class: "type center-image") %>
      </div><hr>
      <div class="card-content center-align">
        <p>Gym Leader: <%= link_to gym.gym_leader.name, trainer_path(gym.gym_leader) %></p><br>
        <%= image_tag("pokemon/#{gym.gym_pokemon.name.downcase}.jpg", class: "gym-pokemon") %><br>

        <% if gym.challenged? %>
          <p class="red-text">CHALLENGED</p>
        <% else %>
          <p class="green-text">OPEN</p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
