<div class="row center-align">
  <h2><%= @gym.name %> Gym</h2>
  <%= image_tag("types/#{@gym.specialty}.png", class: "type center-image") %>
  <% if @gym.challenged? %>
    <h5>Currently being challenged</h5>
  <% else %>
    <h5>Open to Challengers</h5>
  <% end %>
</div>
<div class="row">
  <div class="col s3 center-align">
    <h3>Gym Leader</h3>
    <h4><%= link_to @gym_leader.name, trainer_path(@gym_leader) %></h4><br>
    <h4><%= image_tag("pokemon/#{@gym_pokemon.name.downcase}.jpg", class: "pokemon-image") %></h4>
  </div>

  <% if @gym.challenged? %>
    <div class="col s6 center-align">
      <!-- put gif of pokemon battle -->
    </div>
    <div class="col s3 center-align">
      <h3>Challenger</h3>
      <h4><%= link_to @challenger.name, trainer_path(@challenger) %></h4><br>
      <h4><%= image_tag("pokemon/#{@challenger_pokemon.name.downcase}.jpg", class: "pokemon-image") %></h4>
    </div>
  <% else %>
    <div class="col s6 center-align">
      <br><br>
      <h3>Current Streak</h3>
      <h6><%= @gym.current_streak %></h6>
    </div>
    <% if logged_in? && current_trainer != @gym_leader %>
    <div class="col s3 center-align">
      <h3>Challenger</h3><br>
      <h4><%= current_trainer.name %></h4><br>
      <h6>Choose your pokemon</h6>
      <%= form_tag gym_path(@gym) do %>
        <%= collection_select :challenger, :pokemon, current_trainer.starters, :id, :name, {}, {class: "browser-default"}%><br>
        <%= submit_tag "Challenge with this Pokemon!", class: "btn", data: {confirm: "Spend 5 Poke-Tokens to challenge this gym?"} %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col s3">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @gym_pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @gym_pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @gym_pokemon.hp %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.hp) %></span></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @gym_pokemon.attack %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.attack) %></span></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @gym_pokemon.defense %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.defense) %></span></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @gym_pokemon.special_attack %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.special_attack) %></span></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @gym_pokemon.special_defense %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.special_defense) %></span></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @gym_pokemon.speed %><span class="green-text"><%= @gym.stat_boost(@gym_pokemon.speed) %></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if @gym.challenged? %>
  <div class="col s3 offset-s6">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @challenger_pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @challenger_pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @challenger_pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @challenger_pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @challenger_pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @challenger_pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @challenger_pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @challenger_pokemon.speed %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
