<div class="row center-align">
  <h2><%= image_tag("badges/#{@gym.name}", class: "badge") %> <%= @gym.name %> Gym <%= image_tag("badges/#{@gym.name}", class: "badge") %></h2>
  <%= image_tag("types/#{@gym.specialty}.png", class: "type center-image") %>
  <h5><%= @gym.status %></h5>
  <h5><%= link_to "Challenge History", results_path(@gym) %></h5>
</div>

<div class="row">
  <div class="col s4 center-align">
    <h3 class="gym_leader">Gym Leader</h3>
    <h4><%= link_to @gym.gym_leader.name, trainer_path(@gym.gym_leader) %></h4><br>
    <%= image_tag("pokemon/#{@gym.gym_pokemon.name.downcase}.jpg", class: "pokemon-image") %>
    <h5><%= @gym.gym_pokemon.name %></h5>
  </div>
  <div class="col s4 center-align">
    <br><br><br>
  <% if @gym.challenged? && @gym.challenge_over? %>
      <h3>Winner</h3>
      <h5><%= @gym.winner.name %></h5><br>
      <h4>Cooldown Time</h4>
      <h6><%= @gym.gym_time_left("Grace") %></h6>
  <% elsif @gym.challenged? %>
      <h3>Challenge Time</h3>
      <h6><%= @gym.gym_time_left("Challenge") %></h6>
  <% else %>
      <h3>Current Streak</h3>
      <h6><%= @gym.current_streak %></h6>
  <% end %>
  </div>

  <div class="col s4 center-align">
    <% if @gym.challenged? %>
      <h3 class="challenger">Challenger</h3>
      <h4><%= link_to @gym.challenger.name, trainer_path(@gym.challenger) %></h4><br>
      <%= image_tag("pokemon/#{@gym.challenger_pokemon.name.downcase}.jpg", class: "pokemon-image") %>
      <h5 class="challenger"><%= @gym.challenger_pokemon.name %></h5>
    <% elsif logged_in? && current_trainer != @gym.gym_leader %>
      <h3 class="challenger">Challenger</h3>
      <h4><%= link_to current_trainer.name, trainer_path(current_trainer) %></h4><br>
      <h6>Choose your pokemon</h6>
      <%= form_tag gym_path(@gym) do %>
        <%= collection_select :challenger, :pokemons, current_trainer.starters, :id, :name, {}, {class: "browser-default"}%>
        <%= submit_tag "Challenge with this Pokemon!", class: "btn", data: {confirm: "Spend 5 Poke-Tokens to challenge this gym?"} %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <br>
  <div class="col s4">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @gym.gym_pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @gym.gym_pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>1/2 Damage Against:</td>
          <td>
            <% @gym.gym_pokemon.fixed_weakness.each do |weakness| %>
              <%= image_tag("types/#{weakness.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>2x Damage Against:</td>
          <td>
            <% @gym.gym_pokemon.fixed_strength.each do |strength| %>
              <%= image_tag("types/#{strength.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @gym.gym_pokemon.hp %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.hp, @gym.gym_pokemon) %></span></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @gym.gym_pokemon.attack %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.attack, @gym.gym_pokemon) %></span></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @gym.gym_pokemon.defense %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.defense, @gym.gym_pokemon) %></span></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @gym.gym_pokemon.special_attack %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.special_attack, @gym.gym_pokemon) %></span></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @gym.gym_pokemon.special_defense %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.special_defense, @gym.gym_pokemon) %></span></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @gym.gym_pokemon.speed %><span class="green-text"><%= @gym.stat_boost(@gym.gym_pokemon.speed, @gym.gym_pokemon) %></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if @gym.challenged? %>
  <div class="col s4 offset-s4">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @gym.challenger_pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @gym.challenger_pokemon.types.each do |type| %><span class="green-text">
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>1/2 Damage Against:</td>
          <td>
            <% @gym.challenger_pokemon.fixed_weakness.each do |weakness| %>
              <%= image_tag("types/#{weakness.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>2x Damage Against:</td>
          <td>
            <% @gym.challenger_pokemon.fixed_strength.each do |strength| %>
              <%= image_tag("types/#{strength.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @gym.challenger_pokemon.hp %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.hp, @gym.challenger_pokemon) %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @gym.challenger_pokemon.attack %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.attack, @gym.challenger_pokemon) %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @gym.challenger_pokemon.defense %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.defense, @gym.challenger_pokemon) %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @gym.challenger_pokemon.special_attack %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.special_attack, @gym.challenger_pokemon) %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @gym.challenger_pokemon.special_defense %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.special_defense, @gym.challenger_pokemon) %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @gym.challenger_pokemon.speed %><span class="green-text"><%= @gym.stat_boost(@gym.challenger_pokemon.speed, @gym.challenger_pokemon) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
