<div class="row">
  <div class="col s8">
    <h3><%= @pokemon.name %></h3>
    <h5>Trainer: <%= @trainer.name  %></h5>
    <h5>Captured on: <%= @pokemon.found_on %></h5>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>1/2 Damage Against:</td>
          <td>
            <% @pokemon.fixed_weakness.each do |weakness| %>
              <%= image_tag("types/#{weakness.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>2x Damage Against:</td>
          <td>
            <% @pokemon.fixed_strength.each do |strength| %>
              <%= image_tag("types/#{strength.name}", class: "type") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @pokemon.speed %></td>
        </tr>
        <tr>
          <td>Evolves Into:</td>
          <td>
            <% if @pokemon.evolution %>
              <%= link_to @pokemon.evolution.name, pokedex_path(@pokemon.evolution) %>
            <% else %>
              None
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

    <%= button_to "Release Pokemon", delete_pokemon_path(@trainer, @index), method: :delete, class: 'new-line btn', data: {confirm: "Are you sure you want to release your #{@pokemon.name}?"} if current_trainer == @trainer %>
    <%= link_to "Back To All Pokemon", pokemons_path(@trainer), class: "btn" %>
    <%= link_to "Back To Trainer #{@trainer.name}'s Page", trainer_path(@trainer), class: "btn" %>
  </div>

  <div class="col s3 offset-s5 center-align">
    <%= image_tag("pokemon/#{@pokemon.name.downcase}.jpg", class: "pokemon-image") %>
    <h4>Status:
      <% if !@pokemon.occupied %>
        <span class="green-text">Available</span>
      <% elsif @pokemon.gym %>
        <%= link_to "#{@pokemon.gym.name} Gym", gym_path(@pokemon.gym) %>
      <% else %>
        <span class="orange-text"><%= @pokemon.status %></span>
      <% end %>
    </h4>
    <br><br>
    <div class="exp-wrapper">
      <div class="exp center" style="width: <%= (@pokemon.experience/5.to_f)*100 %>%;">
      </div>
    </div>
    <h6 class="left">Experience</h6>
  </div>
</div>
