<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon Page</title>
  </head>
  <body>
    <h1><%= @pokemon.name.capitalize %></h1>
    <h3>Trainer: <%= @trainer.name  %></h3>
    <h3>Stats:</h3>
    <table>
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @pokemon.level %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @pokemon.speed %></td>
        </tr>
      </tbody>
    </table>
    <br>

    <%= button_to "Delete Pokemon", delete_pokemon_path(@trainer, @pokemon), method: :delete, class: 'new-line' if current_trainer == @trainer %>
    <%= button_to "Back To Trainer #{@trainer.name}'s Page", trainer_path(@trainer), method: :get %>
  </body>
</html>
