<div class="row">
  <div class="col s12">
    <h3><%= @pokemon.name %></h3>
        <h6>Trainer: <%= @trainer.name  %></h6>
        <h6>Captured on: <%= @pokemon.created_at.strftime('%B %d, %Y %I:%M %p') %></h6>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <table class="striped">
      <tbody>
        <tr>
          <td>Level:</td>
          <td><%= @pokemon.level %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><% @pokemon.types.each do |type| %>
            <%= image_tag("types/#{type.name}", class: "type") %>
          <% end %></td>
        </tr>
        <tr>
          <td>HP:</td>
          <td><%= @pokemon.hp %></td>
        </tr>
        <tr>
          <td>Attack:</td>
          <td><%= @pokemon.attack %></td>
        </tr>
        <tr>
          <td>Defense:</td>
          <td><%= @pokemon.defense %></td>
        </tr>
        <tr>
          <td>Special Attack:</td>
          <td><%= @pokemon.special_attack %></td>
        </tr>
        <tr>
          <td>Special Defense:</td>
          <td><%= @pokemon.special_defense %></td>
        </tr>
        <tr>
          <td>Speed:</td>
          <td><%= @pokemon.speed %></td>
        </tr>
      </tbody>
    </table>
    <br>

    <%= button_to "Release Pokemon", delete_pokemon_path(@trainer, @index), method: :delete, class: 'new-line btn', data: {confirm: "Are you sure you want to release your #{@pokemon.name}?"} if current_trainer == @trainer %><br>
    <%= button_to "Back To All Pokemon", pokemons_path(@trainer), method: :get, class: "btn" %><br>
    <%= button_to "Back To Trainer #{@trainer.name}'s Page", trainer_path(@trainer), method: :get, class: "btn" %>
  </div>

  <div class="col s3 offset-s6 center-align">
    <%= image_tag("pokemon/#{@pokemon.name.downcase}.jpg", class: "pokemon-image") %>
    <h4>Status:
      <!-- add different statuses -->
      <br><%= link_to "#{@pokemon.gym.name} Gym", gym_path(@pokemon.gym) if @pokemon.gym %>

    </h4>
  </div>
</div>
