<div class="row">
  <div class="col s4">
    <h2><%= @pokemon.name %></h2><br><br><br>
    <%= image_tag("pokemon/#{@pokemon.name.downcase}.jpg", :class=> "pokemon-image") %>
    <!-- make this prettier and add image -->
  </div>

  <div class="col s4">
    <h2>Caught By:</h2>
    <ul>
      <% if !@pokemon.trainers.empty? %>
        <% @pokemon.trainers.each do |trainer| %>
        <li><%= link_to trainer.name, trainer_path(trainer)%></li>
        <% end %>
      <% else %>
        <li>None</li>
      <% end %>
    </ul>
  </div>

  <div class="col s3 offset-s1">
    <h2>Base Stats:</h2>
    <table class="striped">
      <tbody>
      <tr>
        <td>Level:</td>
        <td><%= @pokemon.level %></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td><% @pokemon.types.each do |type| %>
          <%= image_tag("types/#{type.name}", class: "type") %>
        <% end %></td>
      </tr>
      <tr>
        <td>HP:</td>
        <td><%= @pokemon.hp %></td>
      </tr>
      <tr>
        <td>Attack:</td>
        <td><%= @pokemon.attack %></td>
      </tr>
      <tr>
        <td>Defense:</td>
        <td><%= @pokemon.defense %></td>
      </tr>
      <tr>
        <td>Special Attack:</td>
        <td><%= @pokemon.special_attack %></td>
      </tr>
      <tr>
        <td>Special Defense:</td>
        <td><%= @pokemon.special_defense %></td>
      </tr>
      <tr>
        <td>Speed:</td>
        <td><%= @pokemon.speed %></td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>

<div class="row">
  <div class="col s12">
    <%= button_to "Back to All Pokemon", pokedex_index_path, method: :get, class: "btn" %><br>
    <%= button_to "Previous Pokemon", pokedex_path(@pokemon.id-1), method: :get, class: "left btn" unless @pokemon.id == 1%>
    <%= button_to "Next Pokemon", pokedex_path(@pokemon.id+1), method: :get, class: "right btn" unless @pokemon.id == 151 %>
  </div>
</div>
