<div class="row">
  <div class="col s4">
    <h3><%= @pokemon.name %></h3>
    <br><br><br>
    <%= image_tag("pokemon/#{@pokemon.name}.png", class: "pokemon-image") %>
  </div>

  <div class="col s4">
    <h3>Caught By:</h3>
    <ul>
      <% if !@pokemon.trainers.empty? %>
        <% @pokemon.trainers.each do |trainer| %>
        <li><h5><%= link_to trainer.name, trainer_path(trainer)%><h5></li>
        <% end %>
      <% else %>
        <li><h5 class="red-text">None</h5></li>
      <% end %>
    </ul>
  </div>

  <div class="col s4">
    <h3>Base Stats:</h3>
    <table class="striped">
      <tbody>
      <tr>
        <td>Type:</td>
        <td><% @pokemon.types.each do |type| %>
          <%= image_tag("types/#{type.name}.png", class: "type") %>
        <% end %></td>
      </tr>
      <tr>
        <td>1/2 Damage Against:</td>
        <td>
          <% @pokemon.fixed_weakness.each do |weakness| %>
            <%= image_tag("types/#{weakness.name}.png", class: "type") %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>2x Damage Against:</td>
        <td>
          <% @pokemon.fixed_strength.each do |strength| %>
            <%= image_tag("types/#{strength.name}.png", class: "type") %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>HP:</td>
        <td><%= @pokemon.hp %></td>
      </tr>
      <tr>
        <td>Attack:</td>
        <td><%= @pokemon.attack %></td>
      </tr>
      <tr>
        <td>Defense:</td>
        <td><%= @pokemon.defense %></td>
      </tr>
      <tr>
        <td>Special Attack:</td>
        <td><%= @pokemon.special_attack %></td>
      </tr>
      <tr>
        <td>Special Defense:</td>
        <td><%= @pokemon.special_defense %></td>
      </tr>
      <tr>
        <td>Speed:</td>
        <td><%= @pokemon.speed %></td>
      </tr>
      <tr>
        <td>Evolves Into:</td>
        <td>
          <% if @pokemon.evolution %>
            <%= link_to @pokemon.evolution.name, pokedex_path(@pokemon.evolution) %>
          <% elsif @pokemon.id == 133 %>
            <%= link_to "Vaporeon, ", pokedex_path(134) %>
            <%= link_to "Jolteon, ", pokedex_path(135) %>
            <%= link_to "Flareon", pokedex_path(136) %>
          <% else %>
            None
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= link_to "Back to All Pokemon", pokedex_index_path, class: "btn" %>
    <br>
    <%= link_to "Previous Pokemon", pokedex_path(@pokemon.id-1), class: "left btn" unless @pokemon.id == 1 %>
    <%= link_to "Next Pokemon", pokedex_path(@pokemon.id+1), class: "right btn" unless @pokemon.id == 151 %>
  </div>
</div>
