<div class="row">
  <div class="col s12">
    <h2>Create A Trainer</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= form_for @trainer do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.label :age %>
    <%= f.number_field :age, min: 1 %>
    <%= f.label :starter_pokemon %>
    <br>
    <%= f.radio_button :starter_pokemon, "Bulbasaur" %>
    <%= f.label :starter_pokemon_bulbasaur,"Bulbasaur" %>
    <%= f.radio_button :starter_pokemon, "Charmander" %>
    <%= f.label :starter_pokemon_charmander, "Charmander" %>
    <%= f.radio_button :starter_pokemon, "Squirtle" %>
    <%= f.label :starter_pokemon_squirtle, "Squirtle" %>
    <%= f.radio_button :starter_pokemon, "Random" %>
    <%= f.label :starter_pokemon_random, "Random" %>
    <br>
    <%= f.radio_button :gender, "Male" %><%= f.label :gender_male, "Male" %>
    <%= f.radio_button :gender, "Female" %><%= f.label :gender_female, "Female" %>
    <br><br>
    <%= f.submit %>
    <% end %>
    <br>
    <%= button_to "Cancel", trainers_path, method: :get %>
  </div>
</div>
