<div class="row">
  <div class="col s12">
    <h2>Trainer <%= @trainer.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <ul class="collection">
      <li class="collection-item">Lead Pokemon: <%= @trainer.leading_pokemon.name %></li>
      <li class="collection-item">Gender: <%= @trainer.gender %></li>
      <li class="collection-item">Age: <%= @trainer.age %></li>
      <li class="collection-item">Current Poke-tokens: <%= @trainer.poke_tokens %></li>
      <li class="collection-item">Next Poke-Token: <%= @trainer.token_status %></li>
      <li class="collection-item">Gyms Badges:
        <br>
        <% @trainer.gyms.each do |gym| %>
          <%= link_to image_tag("badges/#{gym.name}.png", class: "badge"), gym_path(gym) %>
        <% end %>
      </li>
    </ul>

    <% if current_trainer == @trainer %>
      <%= button_to "Claim 3 Poke-Tokens", claim_token_path(@trainer), class: 'new-line btn' if @trainer.token_time_passed? %>
      <%= link_to "Edit Trainer", edit_trainer_path, class: 'btn' %>
      <%= button_to "Delete Trainer", @trainer, class: 'btn', method: :delete, data: {confirm: 'Are you sure you want to delete this trainer?'} %>
    <% end %>
  </div>

  <div class="col s5 center">
    <%= image_tag("trainers/#{@trainer.gender}.png", class: "trainer-image") %>
  </div>

  <div class="col s3">
    <h4>Current Team:</h4>
    <ul class="roster">
      <% @trainer.starters.each.with_index(1) do |pokemon, index| %>
      <li class="sprite-image"><%= link_to image_tag("pokemon-sprite/#{pokemon.pokedex_id}.png", class: "sprite-image"), pokemon_path(@trainer, index) %></li>
      <% end %>
    </ul>
    <h5>
      <%= link_to "See All Pokemon", pokemons_path(@trainer) %>
    </h5>
    <br><br>
    <% if current_trainer == @trainer %>
      <%= form_tag trainer_path(@trainer) do %>
        <%= collection_select :trainer, :starters, current_trainer.starters, :id, :name, {:selected => @trainer.leading_pokemon_id},  {class: "browser-default"}%>
        <%= submit_tag "Change Lead Pokemon", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
