<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trainer</title>
  </head>
  <body>
    <h1>Trainer <%= @trainer.name %></h1>
    <p>Gender: <%= @trainer.gender %></p>
    <p>Age: <%= @trainer.age %></p>

    <p>Current Team:</p>
    <ul>
      <% @trainer.starters.each.with_index(1) do |pokemon, index| %>
        <li><%= pokemon.name %></li>
      <% end %>
    </ul>
    <%= link_to "See All Pokemon", pokemons_path(@trainer) %>

    <p>Current Poke-tokens: <%= @trainer.poke_tokens %></p>
    <p> Next Poke-Token: <%= @trainer.token_status %> </p>

    <% if current_trainer == @trainer %>
      <%= button_to "Claim Poke-Token", reset_token_path(@trainer), class: 'new-line' if @trainer.token_time_passed? %>
      <%= button_to "Edit Trainer", edit_trainer_path, method: :get %>
      <%= button_to "Delete Trainer", @trainer, method: :delete %>
    <% end %>
    <%= button_to "Back to All Trainers", trainers_path, class: 'new-line', method: :get %>
  </body>
</html>
