<!DOCTYPE html>
<html>
  <head>
    <title>PokemonGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav>
      <div class="nav-wrapper">
       <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", about_path %></li>
         <li><%= link_to "Trainers", trainers_path %></li>
         <li><%= link_to "Pokedex", pokedex_index_path %></li>
         <li><%= link_to "Pokemon Gyms", gyms_path %></li>
       </ul>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <% if logged_in? %>
            <li><%= link_to "Capture Pokemon", wild_encounter_path %></li>
            <li><%= link_to current_trainer.name, trainer_path(current_trainer) %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else  %>
            <li><%= link_to "Sign Up", new_trainer_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end  %>
       </ul>
     </div>
    </nav>
  </head>

  <body>
    <% if flash[:message] %>
    <div class="card-panel light-blue lighten-2 flow-text center"><p><%= flash[:message] %></p></div>
    <% end %>
    <div class="container">
      <%= image_tag("pokeball.png") %>
      <%= yield %>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </body>
</html>
