<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Ruby-On-Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <nav>
      <div class="nav-wrapper">
       <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Pokedex", pokedex_index_path %></li>
         <li><%= link_to "Pokemon Gyms", gyms_path %></li>
       </ul>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
          <li><%= link_to "Capture Pokemon", wild_encounter_path, method: :post %></li>
          <li><%= link_to "My Pokemon", pokemons_path(current_trainer) %></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Pokemon Training<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><%= link_to current_trainer.name, trainer_path(current_trainer) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else  %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end  %>
          <li>
            <nav>
            <%= form_tag search_path do %>
              <div class="input-field">
              <%= text_field_tag :search, params[:search], :id =>"search", :type => "search", :value => "", :placeholder => "Search for Trainer" %>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
              </div>
            <% end %>
            </nav>
          </li>
        </ul>
      </div>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Physical Training", training_path %></li>
        <li><%= link_to "Pokemon Contest", contest_path %></li>
        <li><%= link_to "Daycare", daycare_path %></li>
      </ul>
    </nav>
  </head>
  <body>
    <div class="main">
    <% if flash[:message] %>
    <div class="card-panel light-blue lighten-2 flow-text center"><p><%= flash[:message] %></p></div>
    <% end %>
    <div class="container">
      <%= image_tag("pokeball.png", class: "background-image") %>
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </body>
</html>
